{
  "root": true,
  "extends": "airbnb",
  "settings": {
    "ecmascript": 6
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": false,
    "blockBindings": true,
    "classes": false,
    "defaultParams": true,
    "destructuring": true,
    "forOf": false,
    "generators": true,
    "jsx": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": false,
    "regexUFlag": false,
    "regexYFlag": false,
    "templateStrings": true,
    "unicodeCodePointEscapes": false
  },
  "env": {
    "browser": true
  },
  "rules": {
    "indent": 2,
    "no-var": 2,
    "new-cap": 0,
    "no-console": 0,
    "import/no-named-as-default": 0
  },
  "globals": {
    "METADATA": true,
    "ENV": true,
    "NODE_ENV": true
  },
  "plugins": []
}
